@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Poppins:wght@600&display=swap");
.media {
  display: flex;
  flex-direction: column;
  width: 260px;
  padding: 5px;
  margin: 5px 0;
  margin-bottom: 1rem;
  background-color: #effffd;
  color: black;
  font-weight: 700;
  border-radius: 10px;
  position: relative;
  font-family: "Poppins", sans-serif;
  transition: all 300ms ease-in-out;
  box-shadow: 5px 5px 10px #5f5b5b, -20px -20px 60px #ffffff;
}
.main_div {
  width: 100%;
  height: 400px;
  overflow: hidden;
  border-radius: 10px;
}
.poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 300ms ease-out;
}
.poster:hover {
  transform: scale(1.1);
}

.media:hover {
  background-color: white;
  color: black;
  transform: scale(1.02);
}

@media (max-width: 550px) {
  .media {
    width: 46%;
  }
}

.poster {
  border-radius: 10px;
}

.title {
  width: 100%;
  text-align: center;
  font-size: 17px;
  padding: 8px 0;
}

.subTitle {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3px;
  padding: 0 2px;
  padding-bottom: 3px;
}
